.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 12px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}

.h-top{
    
}

.topbar{
    background-color: white;
    height: 125px;
    position: fixed;
    width: 97%;
    margin-top: -5px;
    top: 0;
}

.body{
    margin-top: 129px;
    margin-left: 20px;
    margin-right: 20px;
}

body{
    font-family: Arial;
}
